
* {
    margin: 0;
}

nav {
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
    padding: 27px 0 29px;
    line-height: 70px;
    text-align: center;
    word-spacing: 53px;
}

a {
    color: #16a085;
    font-size: 24px;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 35px;
    padding: 44px 238px 0 257px;
    font-size: 29px;
    color: #373737;
}
img{
        vertical-align: middle;
}

p {
    font-size: 21px;
}

div {
      font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
    background-color: #f5f6f7;
    text-align: center;
    padding-top: 0;
}

footer p {

    margin: 47px 104px 45px 768px;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
    font-size: 21px;
    text-align: right;
    color: #373737;
}

button {
    margin: 41px 0px 94px;
    border: none;
    color: white;
    width: 192px;
    height: 51px;
    background-color: #16a085;
    font-family: GothamRounded-Bold,AdobeInvisFont,MyriadPro-Regular;
    font-size: 16px;
}

